<%= javascript_include_tag 'prototype', :juggernaut %>
<%= juggernaut :debug => false, :client_id => @current_user.login,
    :channels => [ :chat, :game ] %>
<%= stylesheet_link_tag 'client' %>

<p>
  Logged in as <%= @current_user.login %>.
</p>

<div id="main_display">
  <ul id="chat_data" style="list-style:none">
  </ul>
</div>

<%= form_remote_tag(:url => { :action => :send_chat_data },
                      :complete => "$('chat_input').value = ''" ) %>
  <%= text_field_tag( 'chat_input', '', { :size => 20,
                                          :id => 'chat_input'} ) %>
  <%= submit_tag "Send" %>
</form>

<script type="text/javascript">
//<![CDATA[
function do_chat(str) {
  Element.insert("chat_data", { top: "<li>" + str + "</li>" });
}
//]]>
</script>
